// @font-face {
//   font-family: "Gothic";
//   src: url("../fonts/gothic.ttf")   format("ttf");
// }
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Nanum Gothic', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
nav,
section,
footer {
  margin: 0;
  padding: 0;
}